* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #252525;
}

h1 {
    padding: 1em 0 1em;
    color: #fff;
}

#container {
    background-color: #282828;
    margin-left: 13em;
    margin-right: 13em;
    margin-top: 5em;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    background-color: rgb(236, 236, 236);
    width: 400px;
}

.row {
    display: flex;
    align-items: space;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

#pixel {
    flex: 1;
    aspect-ratio: 1/1;
    border: solid 1px black;
}

.blacked {
    background-color: black;
}

.change {
    padding: 1em 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    font-size: 16px;
    font-weight: 800;
    color: #FFD677;
}

